@import '../../../Style/variables.sass'

header
  height: 100vh
  @extend %flex
  +justify-content(center)
  +align-items(center)
  background-color: #222E50
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  background-attachment: fixed

  .hero-navigate
    position: absolute
    bottom: 20px
    margin: 0 auto
    cursor: pointer
    +transition(all 200ms)

    &:hover
      +transform(scale(1.1))

