@font-face{
  font-family: "Lato-Regular";
  src: url('../assets/fonts/Lato-Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
  color:white;
  background: rgb(106, 126, 133);
  font-family: 'Lato-Regular', sans-serif;
}

a {
  text-decoration: none;
}

